{
    "openapi": "3.0.0",
    "info": {
        "title": "SIDB — API POS",
        "description": "API RESTful para el punto de venta (POS) del Sistema Integrado de Distribución y Bodega.<br><br>**Cómo autenticarse:**<br>1. Ejecuta **POST /login** con tu email y password.<br>2. Copia el `token` de la respuesta.<br>3. Haz clic en el botón **Authorize 🔒** (arriba a la derecha).<br>4. Escribe: `Bearer {tu-token}` y confirma.",
        "contact": {
            "name": "Soporte SIDB",
            "email": "soporte@sidb.local"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://panel.distribuidorabriancescomenjivar.com/api",
            "description": "Producción"
        },
        {
            "url": "http://localhost/SIDB/public/api",
            "description": "Laragon local"
        }
    ],
    "paths": {
        "/version": {
            "get": {
                "tags": [
                    "App"
                ],
                "summary": "Última versión publicada del APK del POS móvil",
                "description": "Endpoint público (sin autenticación) para que la app consulte al abrir si hay una actualización disponible. Lee primero public/update/version.json (lo publica /admin/update); si no existe todavía, cae de vuelta a los campos de Personalización del Sistema.",
                "operationId": "f98d35afafb5d18045980c5754c7cdc6",
                "responses": {
                    "200": {
                        "description": "Datos de la última versión publicada"
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Iniciar sesión y obtener token",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "admin@sidb.local"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "secret"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "token": {
                                            "type": "string",
                                            "example": "1|abc123..."
                                        },
                                        "user": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "format": "email"
                                                },
                                                "roles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciales incorrectas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validación fallida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Errores422"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Obtener usuario autenticado con roles y permisos",
                "operationId": "bc2032a379aa97707ccc61511897c120",
                "responses": {
                    "200": {
                        "description": "Datos del usuario actual",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email"
                                        },
                                        "roles": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "permisos": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "sucursales": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "nombre": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Cerrar sesión y revocar token actual",
                "operationId": "28d48c13fca984400ac8de99f54ee13a",
                "responses": {
                    "200": {
                        "description": "Sesión cerrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/categorias": {
            "get": {
                "tags": [
                    "Categorías"
                ],
                "summary": "Listar categorías activas",
                "operationId": "9bd4c5d463ba7b15843eebef947ed231",
                "parameters": [
                    {
                        "name": "sucursal_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de categorías",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "nombre": {
                                                "type": "string"
                                            },
                                            "descripcion": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "icono": {
                                                "type": "string",
                                                "nullable": true
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Listar y buscar clientes activos",
                "description": "Permite buscar por nombre, apellido, DUI, código anterior o teléfono. Devuelve resultados paginados.",
                "operationId": "b910fa16d64cfa03d6400b20f5ffbf0d",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Buscar por nombre, apellido, DUI, código anterior o teléfono",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "7338"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de clientes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Paginacion"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Cliente"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Crear un nuevo cliente",
                "operationId": "c39fe211a2fc59a9150faf90e77f5568",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nombre",
                                    "apellido"
                                ],
                                "properties": {
                                    "nombre": {
                                        "type": "string",
                                        "example": "Maria"
                                    },
                                    "apellido": {
                                        "type": "string",
                                        "example": "Hernandez"
                                    },
                                    "dui": {
                                        "type": "string",
                                        "example": "02741470-9"
                                    },
                                    "codigo_anterior": {
                                        "type": "string",
                                        "example": "7338"
                                    },
                                    "telefono_normal": {
                                        "type": "string",
                                        "example": "77856915"
                                    },
                                    "telefono_whatsapp": {
                                        "type": "string",
                                        "example": "77856915"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "maria@email.com"
                                    },
                                    "direccion": {
                                        "type": "string"
                                    },
                                    "departamento": {
                                        "type": "string"
                                    },
                                    "municipio": {
                                        "type": "string"
                                    },
                                    "latitud": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 13.945
                                    },
                                    "longitud": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -87.87
                                    },
                                    "ruta_cobro_id": {
                                        "type": "integer"
                                    },
                                    "foto_casa": {
                                        "description": "Foto de la casa (JPG, PNG, WEBP, máx 4MB)",
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cliente creado"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}/ubicacion": {
            "patch": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Actualizar latitud y longitud de un cliente",
                "operationId": "6f6e68210e8ae63aa58615e98dce1dc0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "latitud",
                                    "longitud"
                                ],
                                "properties": {
                                    "latitud": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 13.945
                                    },
                                    "longitud": {
                                        "type": "number",
                                        "format": "float",
                                        "example": -87.87
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ubicación actualizada"
                    },
                    "403": {
                        "description": "Este cliente no te pertenece"
                    },
                    "404": {
                        "description": "Cliente no encontrado"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}/telefonos": {
            "patch": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Actualizar teléfonos de un cliente",
                "operationId": "f783e7ab7a8e066fbb31d3bc1e1be45c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "telefono_normal": {
                                        "type": "string",
                                        "example": "75123456"
                                    },
                                    "telefono_whatsapp": {
                                        "type": "string",
                                        "example": "75123456"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Teléfonos actualizados"
                    },
                    "403": {
                        "description": "Este cliente no te pertenece"
                    },
                    "404": {
                        "description": "Cliente no encontrado"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}/nombre": {
            "patch": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Actualizar nombre y/o apellido de un cliente",
                "operationId": "c3e14b63d605487bbea94cc26de6d05b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "nombre": {
                                        "description": "Nuevo nombre (opcional)",
                                        "type": "string",
                                        "example": "Maria"
                                    },
                                    "apellido": {
                                        "description": "Nuevo apellido (opcional)",
                                        "type": "string",
                                        "example": "Hernandez"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Nombre actualizado"
                    },
                    "403": {
                        "description": "Este cliente no te pertenece"
                    },
                    "404": {
                        "description": "Cliente no encontrado"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Obtener un cliente por ID",
                "operationId": "7a1fb342e3b20be3813e27dbbcfb493e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cliente"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Este cliente no te pertenece"
                    },
                    "404": {
                        "description": "No encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}/vincular": {
            "post": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Vincular dos clientes al mismo grupo familiar",
                "description": "Si ninguno tiene grupo, crea uno nuevo usando el ID de {id}. Si uno ya tiene grupo, el otro lo adopta. Si ambos tienen grupos distintos, se fusionan bajo el grupo de {id}.",
                "operationId": "476d09cd8389f9c2465cc06bebe1ed55",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cliente_id_vincular"
                                ],
                                "properties": {
                                    "cliente_id_vincular": {
                                        "type": "integer",
                                        "example": 88
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Clientes vinculados"
                    },
                    "403": {
                        "description": "Alguno de los dos clientes no te pertenece"
                    },
                    "404": {
                        "description": "No encontrado"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}/grupo": {
            "get": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Ver las cuentas de todo el grupo familiar del cliente",
                "description": "Devuelve al cliente y a sus vinculados con el saldo de cada cuenta a crédito. Si el cliente no tiene grupo, devuelve solo a sí mismo.",
                "operationId": "fc7628e4a3cb7f3783511e04a2fdb249",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cuentas del grupo"
                    },
                    "403": {
                        "description": "Este cliente no te pertenece"
                    },
                    "404": {
                        "description": "No encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/clientes/{id}/desvincular": {
            "post": {
                "tags": [
                    "Clientes"
                ],
                "summary": "Quitar a un cliente de su grupo familiar",
                "description": "Si el grupo queda con un solo integrante, también se le quita el grupo a ese último.",
                "operationId": "39e13e37b154d4553cbfcab89d7f3337",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cliente desvinculado"
                    },
                    "403": {
                        "description": "Este cliente no te pertenece"
                    },
                    "404": {
                        "description": "No encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/ruta-hoy": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Obtener rutas del cobrador para hoy",
                "operationId": "6996344e784e20fa39532ddf5346f7ca",
                "responses": {
                    "200": {
                        "description": "Rutas del día con conteo de clientes"
                    },
                    "404": {
                        "description": "Sin ruta para hoy"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Directorio de TODOS los clientes del cobrador, agrupados por ruta",
                "description": "A diferencia de /cobros/rutas/{ruta_id}/clientes (una sola ruta) y /cobros/ruta-hoy (solo las rutas de hoy), este endpoint devuelve TODAS las rutas del cobrador con sus clientes, cada grupo ordenado por el orden manual de la ruta — pensado como directorio/consulta rápida, no para el cobro del día.",
                "operationId": "ee36b3052446f645b8dd908ab1672b1c",
                "parameters": [
                    {
                        "name": "buscar",
                        "in": "query",
                        "description": "Filtra por nombre, apellido, código anterior o teléfono",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Rutas del cobrador con sus clientes"
                    },
                    "403": {
                        "description": "No se encontró perfil de cobrador"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/rutas/{ruta_id}/clientes": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Listar clientes de una ruta específica",
                "operationId": "0e7a6712987d4b4b66beaaa4630fce6f",
                "parameters": [
                    {
                        "name": "ruta_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Clientes de la ruta"
                    },
                    "403": {
                        "description": "Esta ruta no te pertenece"
                    },
                    "404": {
                        "description": "Ruta no encontrada"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/rutas/{ruta_id}/orden": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Orden guardado de los clientes de una ruta",
                "description": "Devuelve los IDs de cliente en el orden en que el cobrador los dejó la última vez (persistido en el servidor, sobrevive reinstalaciones de la app).",
                "operationId": "8c7fefcbbbb287875ddd4726c8681fb3",
                "parameters": [
                    {
                        "name": "ruta_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "IDs de cliente en orden"
                    },
                    "403": {
                        "description": "Ruta no encontrada o no te pertenece"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Guardar el orden de visita de los clientes de una ruta",
                "description": "El cobrador reordena su ruta en la app y ese orden queda guardado en el servidor (columna clientes.orden, la misma que usa el panel administrativo).",
                "operationId": "9fed9edd6750084ade9e1c056d24c682",
                "parameters": [
                    {
                        "name": "ruta_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "ids"
                                ],
                                "properties": {
                                    "ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": [
                                            3,
                                            1,
                                            7,
                                            2
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Orden guardado"
                    },
                    "403": {
                        "description": "Ruta no encontrada o no te pertenece"
                    },
                    "422": {
                        "description": "Alguno de los IDs no pertenece a esta ruta"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes/buscar": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Buscar un cliente por código, entre todos los clientes del cobrador",
                "description": "Busca por código (código anterior) entre TODOS los clientes de las rutas del cobrador, sin importar si la ruta es la de hoy o de otro día. Útil cuando un cliente paga fuera de su día habitual de visita.",
                "operationId": "b35061df3206be6b4c1be7d8556c3178",
                "parameters": [
                    {
                        "name": "codigo",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "7304"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Clientes encontrados"
                    },
                    "403": {
                        "description": "No se encontró perfil de cobrador"
                    },
                    "422": {
                        "description": "Falta el parámetro codigo"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes/{id}": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Detalle del cliente con historial de cobros",
                "operationId": "dda2b33c9fbde4170390d50d3a6d6252",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del cliente"
                    },
                    "403": {
                        "description": "Cliente no pertenece a tus rutas"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes/{id}/perfil": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Perfil completo del cliente (solo lectura)",
                "description": "Misma información que ve el administrador en el panel web: datos personales, referencias, documentos, historial de pagos y visitas por venta, e historial de cambios de ruta. Cubre TODAS las rutas del cobrador (no solo la de hoy) — pensado como un directorio de consulta, no para registrar cobros desde acá.",
                "operationId": "8bbcbc716a46470f68c53383197bcc9a",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Perfil completo del cliente"
                    },
                    "403": {
                        "description": "Cliente no pertenece a tus rutas"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes/{id}/gestiones-pendientes": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Cuotas pendientes o parciales de un cliente",
                "operationId": "41ec27bd11eab65baf74aafc7f19971e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Gestiones pendientes"
                    },
                    "403": {
                        "description": "Cliente no pertenece a tus rutas"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes/{id}/pagar": {
            "post": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Registrar pago directo a un cliente (opcionalmente a una venta específica)",
                "operationId": "8427107a942f00171b38c1159a31e6b3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "monto",
                                    "metodo_pago",
                                    "venta_id"
                                ],
                                "properties": {
                                    "monto": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 14
                                    },
                                    "metodo_pago": {
                                        "type": "string",
                                        "enum": [
                                            "efectivo",
                                            "transferencia",
                                            "cheque",
                                            "deposito"
                                        ]
                                    },
                                    "venta_id": {
                                        "description": "ID de la venta a la que se aplica el pago",
                                        "type": "integer",
                                        "example": 20
                                    },
                                    "referencia": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pago registrado"
                    },
                    "404": {
                        "description": "No hay cuotas pendientes"
                    },
                    "403": {
                        "description": "Cliente no pertenece a tus rutas o venta no pertenece al cliente"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/gestiones/{id}/pagar": {
            "post": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Registrar pago de una cuota",
                "operationId": "a45f6db12502ff77141246cf6002f51b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "monto",
                                    "metodo_pago"
                                ],
                                "properties": {
                                    "monto": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 14
                                    },
                                    "metodo_pago": {
                                        "type": "string",
                                        "enum": [
                                            "efectivo",
                                            "transferencia",
                                            "cheque",
                                            "deposito"
                                        ]
                                    },
                                    "referencia": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pago registrado"
                    },
                    "403": {
                        "description": "Gestión no pertenece a tus rutas"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/resumen-dia": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Resumen de cobros del día por cobrador",
                "description": "Muestra cuánto cobró cada cobrador en una fecha (default: hoy). Incluye desglose por método de pago, número de pagos realizados y clientes visitados.",
                "operationId": "4e7f17c614f961ee2ec1c2aa99a12676",
                "parameters": [
                    {
                        "name": "fecha",
                        "in": "query",
                        "description": "Fecha a consultar. Default: hoy.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date",
                            "example": "2026-06-15"
                        }
                    },
                    {
                        "name": "cobrador_id",
                        "in": "query",
                        "description": "Filtrar por un cobrador específico.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Resumen por cobrador"
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/historial": {
            "get": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Historial de cobros, visitas y gastos aprobados de un día del cobrador autenticado",
                "description": "Lista, del más reciente al más antiguo, cada pago, cada visita sin pago y cada vale (gasto) ya aprobado que el cobrador autenticado registró en la fecha indicada (campo \"tipo\": \"pago\", \"visita\" o \"gasto\"). Los vales pendientes o rechazados no aparecen aquí — para verlos todos, usar GET /vales. Sin el parámetro \"fecha\" devuelve el día de hoy. Solo se permite consultar días del mes en curso (hasta hoy), para que el selector de fecha de la app muestre un mes a la vez.",
                "operationId": "504d8ff4907afcefba4e1864e93f009c",
                "parameters": [
                    {
                        "name": "fecha",
                        "in": "query",
                        "description": "Día a consultar (YYYY-MM-DD). Por defecto, hoy.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Historial del día"
                    },
                    "403": {
                        "description": "Sin perfil de cobrador"
                    },
                    "422": {
                        "description": "La fecha está fuera del mes en curso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/cobros/clientes/{id}/visita": {
            "post": {
                "tags": [
                    "Cobros"
                ],
                "summary": "Registrar visita sin cobro a un cliente",
                "description": "Permite al cobrador registrar que visitó al cliente aunque no haya recibido pago. Se puede adjuntar foto del hogar como comprobante. Si resultado=abono_previo (el cliente ya pagó su mensualidad por otro medio) o resultado=sin_saldo (cuenta vinculada que ya está en $0), no se requiere foto ni coordenadas GPS y no se genera ningún cobro nuevo, solo queda constancia de la visita.",
                "operationId": "b9ecfbcd4e5d0c12c894db5837718294",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del cliente",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "resultado"
                                ],
                                "properties": {
                                    "resultado": {
                                        "type": "string",
                                        "example": "sin_pago",
                                        "enum": [
                                            "sin_pago",
                                            "promesa_pago",
                                            "no_encontrado",
                                            "rechazo",
                                            "abono_previo",
                                            "sin_saldo"
                                        ]
                                    },
                                    "gestion_cobro_id": {
                                        "description": "Cuota específica relacionada (opcional)",
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "example": "El cliente dijo que paga el viernes",
                                        "nullable": true
                                    },
                                    "promesa_fecha": {
                                        "description": "Requerido si resultado=promesa_pago",
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "foto_hogar": {
                                        "description": "Foto del hogar como comprobante (jpg/png, max 5MB)",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "latitud": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    },
                                    "longitud": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Visita registrada"
                    },
                    "403": {
                        "description": "Cliente no pertenece a tus rutas"
                    },
                    "422": {
                        "description": "Validación fallida"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/ventas/{venta}/pagos": {
            "get": {
                "tags": [
                    "Pagos"
                ],
                "summary": "Listar pagos de una venta",
                "operationId": "1143c704e50205de0edb9acef523212a",
                "parameters": [
                    {
                        "name": "venta",
                        "in": "path",
                        "description": "ID de la venta",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de pagos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PagoVenta"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Esta venta no te pertenece"
                    },
                    "404": {
                        "description": "Venta no encontrada"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Pagos"
                ],
                "summary": "Registrar un pago sobre una venta",
                "description": "El monto se reparte automáticamente entre las cuotas pendientes más antiguas de la venta, igual que el cobro por cliente.",
                "operationId": "87903839d26c336b6cefeef217eb1850",
                "parameters": [
                    {
                        "name": "venta",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "monto",
                                    "metodo_pago"
                                ],
                                "properties": {
                                    "monto": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 100
                                    },
                                    "fecha_pago": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2026-06-01",
                                        "nullable": true
                                    },
                                    "metodo_pago": {
                                        "type": "string",
                                        "enum": [
                                            "efectivo",
                                            "transferencia",
                                            "tarjeta",
                                            "cheque"
                                        ]
                                    },
                                    "referencia": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Pago registrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "saldo_pendiente": {
                                            "type": "number",
                                            "format": "float"
                                        },
                                        "estado": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Esta venta no te pertenece"
                    },
                    "422": {
                        "description": "Venta ya pagada o validación fallida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/preventas": {
            "get": {
                "tags": [
                    "Preventas"
                ],
                "summary": "Listar preventas",
                "description": "Un cobrador ve las preventas que él registró. Un vendedor ve las que un administrador le asignó.",
                "operationId": "4a883624ec6a9a09e17d4acf8b845249",
                "parameters": [
                    {
                        "name": "estado",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pendiente",
                                "convertida",
                                "rechazada"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de preventas"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Preventas"
                ],
                "summary": "Registrar una preventa",
                "description": "El cobrador registra el interés de un cliente en comprar (productos y cantidades del catálogo). Queda pendiente de que un administrador la asigne a un vendedor, que la visitará para cerrar la venta real.",
                "operationId": "5f1186de3a722dc032fac98496e36145",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "cliente_id",
                                    "detalles"
                                ],
                                "properties": {
                                    "cliente_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "detalles": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "producto_id": {
                                                    "type": "integer"
                                                },
                                                "cantidad": {
                                                    "type": "integer",
                                                    "minimum": 1
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "minItems": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Preventa registrada"
                    },
                    "403": {
                        "description": "Sin perfil de cobrador"
                    },
                    "422": {
                        "description": "Validación fallida",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Errores422"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/productos": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Listar productos activos",
                "description": "Soporta búsqueda por nombre o código y filtros por categoría / sucursal.",
                "operationId": "7ab1957e38d808a1d27eb5cd20ba3123",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Texto a buscar en nombre o código",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "categoria_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sucursal_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 50
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de productos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/Paginacion"
                                        },
                                        {
                                            "properties": {
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Producto"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/productos/{id}/metodos-pago": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Obtener métodos de pago a cuotas por producto",
                "operationId": "da1458060714c1a98061c681aee4a8cf",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Opciones de pago a cuotas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 5
                                        },
                                        "nombre": {
                                            "type": "string",
                                            "example": "Televisor 40\""
                                        },
                                        "codigo": {
                                            "type": "string",
                                            "example": "TV-40-SAMSUNG"
                                        },
                                        "precio_venta": {
                                            "type": "number",
                                            "format": "float",
                                            "example": 299.99
                                        },
                                        "precios_cuotas": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "No encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/productos/{id}": {
            "get": {
                "tags": [
                    "Productos"
                ],
                "summary": "Obtener un producto por ID",
                "operationId": "0619aa35f62634e3b69b862406aa99b9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Producto encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Producto"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "No encontrado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/reintegros/candidatos": {
            "get": {
                "tags": [
                    "Reintegros"
                ],
                "summary": "Ventas candidatas a reintegro por cuotas vencidas",
                "description": "Devuelve ventas con cuotas vencidas hace N días (default 30), con los productos de la venta y datos del cliente. Filtra por sucursal del usuario autenticado.",
                "operationId": "90d3820952d2c97514e465acaf25f940",
                "parameters": [
                    {
                        "name": "dias_vencidos",
                        "in": "query",
                        "description": "Días mínimos de vencimiento para considerar candidato",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 30
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de candidatos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer"
                                        },
                                        "total": {
                                            "type": "integer"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "venta_id": {
                                                        "type": "integer"
                                                    },
                                                    "numero_venta": {
                                                        "type": "string"
                                                    },
                                                    "fecha_venta": {
                                                        "type": "string",
                                                        "format": "date"
                                                    },
                                                    "saldo_pendiente": {
                                                        "type": "number"
                                                    },
                                                    "cuotas_vencidas": {
                                                        "type": "integer"
                                                    },
                                                    "monto_adeudado_vencido": {
                                                        "type": "number"
                                                    },
                                                    "ya_en_reintegro": {
                                                        "type": "boolean"
                                                    },
                                                    "cliente": {
                                                        "type": "object"
                                                    },
                                                    "productos": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/reintegros/vendedores": {
            "get": {
                "tags": [
                    "Reintegros"
                ],
                "summary": "Listar vendedores disponibles para asignar reintegro",
                "operationId": "381eee24b119752de52a037e0f438e0e",
                "responses": {
                    "200": {
                        "description": "Lista de vendedores activos",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "vendedores": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "codigo": {
                                                        "type": "string"
                                                    },
                                                    "nombre": {
                                                        "type": "string"
                                                    },
                                                    "telefono": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/reintegros": {
            "get": {
                "tags": [
                    "Reintegros"
                ],
                "summary": "Listar reintegros del vendedor autenticado",
                "operationId": "363c5c9428130c82876505c92e0d3e18",
                "parameters": [
                    {
                        "name": "estado",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pendiente",
                                "en_proceso",
                                "recuperado",
                                "no_recuperado"
                            ]
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 20
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista paginada de reintegros"
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Reintegros"
                ],
                "summary": "Crear reintegro sin asignación",
                "description": "Registra una venta para reintegro. Queda sin vendedor asignado (pendiente). Un administrador asigna el vendedor desde el panel Filament.",
                "operationId": "17a6645ae2b35bdc7e3ca965768384c9",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "venta_id"
                                ],
                                "properties": {
                                    "venta_id": {
                                        "description": "ID de la venta a recuperar",
                                        "type": "integer",
                                        "example": 12
                                    },
                                    "motivo": {
                                        "type": "string",
                                        "example": "4 cuotas sin pagar, cliente no contesta"
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "example": "Verificar que los productos estén completos"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Reintegro creado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "reintegro": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "venta_id": {
                                                    "type": "integer"
                                                },
                                                "numero_venta": {
                                                    "type": "string"
                                                },
                                                "cliente": {
                                                    "type": "string"
                                                },
                                                "vendedor": {
                                                    "type": "string"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "enum": [
                                                        "pendiente",
                                                        "en_proceso",
                                                        "recuperado",
                                                        "no_recuperado"
                                                    ]
                                                },
                                                "monto_adeudado": {
                                                    "type": "number"
                                                },
                                                "cuotas_vencidas": {
                                                    "type": "integer"
                                                },
                                                "fecha_asignacion": {
                                                    "type": "string",
                                                    "format": "date"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "422": {
                        "description": "Sin ruta asignada, reintegro ya activo, o venta sin saldo pendiente"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/reintegros/{id}/estado": {
            "patch": {
                "tags": [
                    "Reintegros"
                ],
                "summary": "Actualizar estado de un reintegro",
                "description": "Cambia el estado luego de la visita al cliente. Al marcar recuperado o no_recuperado se registra la fecha de recuperación automáticamente.",
                "operationId": "2afcc97861932b57e42135caf0aa976d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "estado"
                                ],
                                "properties": {
                                    "estado": {
                                        "type": "string",
                                        "example": "recuperado",
                                        "enum": [
                                            "en_proceso",
                                            "recuperado",
                                            "no_recuperado"
                                        ]
                                    },
                                    "observaciones": {
                                        "type": "string",
                                        "example": "Se recogieron todos los productos en buen estado"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Estado actualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "mensaje": {
                                            "type": "string"
                                        },
                                        "reintegro": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "estado": {
                                                    "type": "string"
                                                },
                                                "fecha_recuperacion": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "nullable": true
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Reintegro no encontrado"
                    },
                    "422": {
                        "description": "Estado inválido"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/vales": {
            "get": {
                "tags": [
                    "Vales"
                ],
                "summary": "Listar los vales propios",
                "description": "Historial de vales (consumo y vehículo) enviados por el usuario autenticado, del más reciente al más antiguo.",
                "operationId": "9cbf794ac1ff9d5c97392579abc1b844",
                "parameters": [
                    {
                        "name": "estado",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "pendiente",
                                "aprobado",
                                "rechazado"
                            ]
                        }
                    },
                    {
                        "name": "tipo",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "consumo",
                                "vehiculo"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de vales"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Vales"
                ],
                "summary": "Enviar un vale (consumo o vehículo)",
                "description": "Vale de consumo: solo requiere monto y comprobante. Vale de vehículo: requiere además vehiculo_id y categoria_vehiculo (gasolina o imprevisto — mantenimiento es de uso administrativo). Queda en estado \"pendiente\" hasta que un administrador lo apruebe o rechace.",
                "operationId": "3efe60ca253ada60acce22addb58273e",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "tipo",
                                    "monto",
                                    "comprobante"
                                ],
                                "properties": {
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "consumo",
                                            "vehiculo"
                                        ]
                                    },
                                    "monto": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 5
                                    },
                                    "comprobante": {
                                        "description": "Foto del comprobante (jpg/png, max 5MB)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "descripcion": {
[...]
